
@{
    ViewBag.Title = "MilkRateList";
    Layout = "~/Areas/Admin/Views/NewLayout.cshtml";
}

<div class="container-fluid">

    <div class="row" style="margin-top:-20px;">

        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/Images/TMMilk.png" style="height:100px;width:150px;margin-top:-15px;" />
                            </div>
                            <div class="col-md-1">
                                <b style="font-size:x-large;color:#132593;text-decoration:underline;"> Rate List</b>
                            </div>

                            <div class="col-md-9">
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label"> From Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>

                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label"> To Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>

                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label"> Milk Type</label>
                                    <br />
                                    <div class="col-sm-3">
                                        <select class="select2 form-control custom-select" style="width: 100%;font-weight:bold;">
                                            &nbsp;
                                            <option>--Select Milk Type---</option>
                                            <option value="BM" selected="selected">BC</option>
                                            <option>Cow</option>
                                            <option>VLC</option>
                                            <option>BM</option>
                                            <option>CM</option>
                                        </select>
                                        <button type="button" class="btn btn-primary col-md-12" style="width:100px;margin-top:20px;">New</button>
                                    </div>

                                   


                                </div>
                                

                            </div>


                        </div>








                        





                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light table-bordered">
                                        <tr>
                                            <th>
                                              Date
                                            </th>
                                            <th scope="col">Bill No.</th>
                                            <th scope="col">Milk Type</th>
                                          

                                        </tr>
                                    </thead>
                                    <tbody class="customtable table-bordered" >
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                           
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                      
                       

                        


                    </div>

                </form>
            </div>



        </div>

    </div>
    <!-- editor -->


</div>

