@{
    ViewBag.Title = "Purchase";
    Layout = "~/Areas/Admin/Views/NewLayout.cshtml";
}

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->



    <div class="row" style="margin-top:-20px;">

        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/Images/TMMilk.png" style="height:100px;width:150px;margin-top:-15px;" />
                            </div>
                            <div class="col-md-3">
                                <b style="font-size:x-large;color:#132593;"> Milk Purchase</b>
                            </div>

                            <div class="col-md-7">
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label">Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>

                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label">Shift</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>

                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label"><br /> Milk</label>

                                    <div class="col-sm-3">
                                        <br />
                                        <select class="select2 form-control custom-select" style="width: 100%; margin-left: -55px;font-weight:bold">
                                            &nbsp;
                                            <option value="BM" selected="selected">BM</option>
                                            <option></option>
                                        </select>
                                    </div>

                                    <label for="lname" class="col-sm-3 text-left control-label col-form-label" style="margin-left:-50px;"> <br />Route</label>
                                    <div class="col-sm-3">
                                        <br />
                                        <select class="select2 form-control custom-select" style="width: 100%; margin-left: -50px;font-weight:bold">
                                            &nbsp;
                                            <option value="BM"></option>
                                            <option></option>
                                        </select>
                                    </div>



                                </div>
                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-2 text-left control-label col-form-label">Collector</label>
                                    <div class="col-sm-5">
                                        <select class="select2 form-control custom-select" style="width: 100%;margin-left:-8px;font-weight:bold">
                                            &nbsp;
                                            <option value="BM"></option>
                                            <option></option>
                                        </select>
                                    </div>


                                    <label for="cono1" class="col-sm-2 text-left control-label col-form-label">Entry No.</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="cono1" style="margin-left:-20px;">
                                    </div>

                                </div>

                            </div>


                        </div>






                       

                        <div class="row" style="background-color:#c7bfbf">

                            <div class="col-md-3">
                                <label>Supplier Code/ Name</label>
                                <input type="text" class="form-control" />

                            </div>

                            <div class="col-md-3 row">
                                <div class="col-sm-4">
                                    <lable>Qty</lable>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <lable>Fat %</lable>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-sm-4">
                                    <lable>CLR%</lable>
                                    <input type="text" class="form-control" />
                                </div>

                            </div>

                            <div class="col-md-6 row">
                                <div class="col-md-4">
                                    <lable>SNF %</lable>
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-4">
                                    <lable>SNF Kg</lable>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <lable>SNF Amt</lable>
                                    <input type="text" class="form-control" />
                                </div>
                             

                                <div class="col-md-4">
                                    <lable>FAT Kg</lable>
                                    <input type="text" class="form-control" />
                                </div>

                                <div class="col-md-4">
                                    <lable>FAT Amt</lable>
                                    <input type="text" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <lable>Net Amt</lable>
                                    <input type="text" class="form-control" />
                                </div>
                                
                              
                               
                               

                            </div>

                        </div>
                     
                        
                        <div class="row" style="background-color:#c7bfbf">
                            <div class="col-md-2">
                                <lable>Milk Ratet</lable>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <lable>SNF Addition</lable>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <lable>Fat Rate</lable>
                                <input type="text" class="form-control" />
                            </div>
                            <div class="col-md-2">
                                <lable>SNF Rate</lable>
                                <input type="text" class="form-control" />
                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary col-md-12" style="width:400px;margin-top:20px;">Save</button>
                            </div>
                           
                        </div>
                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light table-bordered">
                                        <tr>
                                            <th>
                                                SN.
                                            </th>
                                            <th scope="col">Code</th>
                                            <th scope="col">Supplier</th>
                                            <th scope="col">B/C</th>
                                            <th scope="col">QTY</th>
                                            <th scope="col">FAT %</th>
                                            <th scope="col">CLR %</th>
                                            <th scope="col">SNF %</th>
                                            <th scope="col">SNF Kg</th>
                                            <th scope="col">FAT kg</th>
                                            <th scope="col">Milk Rate</th>
                                            <th scope="col">Fat Rate</th>
                                            <th scope="col">SNF Rate</th>
                                            <th scope="col">SNF Amt</th>
                                            <th scope="col">FAT Amt</th>
                                           
                                            <th scope="col">Net Amt.</th>
                                        </tr>
                                    </thead>
                                    <tbody class="customtable table-bordered">
                                       <tr>
                                           <td>1.</td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                           <td></td>
                                       </tr>

                                        <tr>
                                            <td>2.</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>3.</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>4.</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td>5.</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>

                       

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light table-bordered">
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th style="color:red">
                                                Delete Selected
                                            </th>
                                            <th scope="col">Qty</th>
                                            <th scope="col">Av.Fat%</th>
                                            <th scope="col">Av. CLR %</th>
                                            <th scope="col">AV. SNF %</th>
                                            <th scope="col">SNF kg</th>
                                            <th scope="col">Rate/ltr</th>
                                            <th scope="col">Rate/Fat</th>
                                          
                                            <th scope="col">SNF Amt</th>
                                            <th scope="col">FAT Amt</th>

                                            <th scope="col">Total Amt.</th>
                                        </tr>
                                    </thead>
                                    <tbody class="customtable">
                                        

                                    </tbody>
                                </table>
                            </div>

                        </div>
                       

                    </div>

                </form>
            </div>



        </div>

    </div>
    <!-- editor -->


</div>
