
@{
    ViewBag.Title = "SaleRegister";
    Layout = "~/Areas/Admin/Views/NewLayout.cshtml";
}

<div class="container-fluid">

    <div class="row" style="margin-top:-20px;">

        <div class="col-md-12">
            <div class="card">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-2">
                                <img src="~/Images/TMMilk.png" style="height:100px;width:150px;margin-top:-15px;" />
                            </div>
                            <div class="col-md-3">
                                <b style="font-size:x-large;color:#132593;text-decoration:underline;"> Sale Register</b>
                            </div>

                            <div class="col-md-7">
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label"> From Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>

                                    <label for="lname" class="col-sm-2 text-left control-label col-form-label"> To Date</label>
                                    <div class="col-sm-3">
                                        <input type="date" class="form-control" id="lname">
                                    </div>


                                </div>
                                <div class="form-group row" style="margin-left:20px;">

                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" style="width:100px;height:50px;">
                                            <i class=" mdi mdi-access-point"></i>
                                            Ok
                                        </button>
                                    </div>
                                    &nbsp;
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" style="width: 100px; height: 50px;">
                                            <i class=" mdi mdi-access-point"></i> Print
                                        </button>
                                    </div>
                                    &nbsp;
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-primary" style="width: 100px; height: 50px;">
                                            <i class=" mdi mdi-access-point"></i> Export
                                        </button>
                                    </div>


                                </div>

                            </div>


                        </div>








                        <div class="row" style="background-color:#c7bfbf;">

                            <div class="col-md-3">
                                <label>Search Party Name</label>
                                <input type="text" class="form-control" style="margin-top:-8px;" />

                            </div>
                            <div class="col-md-2">
                                <label>Search Item</label>
                                <input type="text" class="form-control" style="margin-top:-8px;" />

                            </div>

                            <div class="col-md-2">
                                <label>Search Bill</label>
                                <input type="text" class="form-control" style="margin-top:-8px;" />

                            </div>

                            <div class="col-md-3">
                                <label>Search Remarks</label>
                                <input type="text" class="form-control" style="margin-top:-8px;" />

                            </div>

                            <div class="col-md-2">
                                <label>Bill Value</label>
                                <input type="text" class="form-control" style="margin-top:-8px;" />

                            </div>


                        </div>





                        <br />
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light table-bordered">
                                        <tr>
                                            <th>
                                                Date
                                            </th>
                                            <th scope="col">Bill No.</th>
                                            <th scope="col">Patry</th>
                                            <th scope="col">Item</th>
                                            <th scope="col">QTY</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">SubTotal</th>
                                            <th scope="col">Tax</th>
                                            <th scope="col">Net Amt.</th>

                                        </tr>
                                    </thead>
                                    <tbody class="customtable table-bordered">
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                        </div>

                       

                        <div class="row">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="thead-light table-bordered">
                                        <tr>

                                            <th>
                                                Page No Results :
                                            </th>
                                            <th scope="col">Showing</th>

                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                            <th scope="col">

                                            </th>
                                            <th scope="col">
                                                Total Qty
                                                <input type="text" class="form-control" />
                                            </th>
                                            <th scope="col">
                                                Subtotal
                                                <input type="text" class="form-control" />
                                            </th>
                                            <th scope="col">
                                                Tax
                                                <input type="text" class="form-control" />
                                            </th>
                                            <th scope="col">
                                                Net Amount
                                                <input type="text" class="form-control" />
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="customtable"></tbody>
                                </table>
                            </div>

                        </div>


                    </div>

                </form>
            </div>



        </div>

    </div>
    <!-- editor -->


</div>

